body{
    background-image: url(../../assets/background.png);
    background-color: rgb(237, 245, 245);
    background-attachment: fixed;
    background-size: 100%;
}

#Busca{
    background:    #9b9a9a;
    border-radius: 10px;
    border: 0px;
    padding:       10px 20px;
    height: 28px;
    width: 73%;
    opacity: 70%;
    display:       inline-block;
    font:          normal bold 13px/1 "Pagella", serif;
    text-align:    center;

}
