*{
   padding: 0px;
   margin: 0px;
}

header{
    border-bottom: 4px solid #A6A3A3;
    text-align: left;
    padding: 10pt;
    font-size: 20pt;
}

.apresentacao{
    margin-left: 15px;
}

.rating{
    display: flex;
    padding: 0px;
}

section{
    padding:50px 0;
}


.comentarios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao {
    display: flex;
    width:80%;
    max-width: 600px;
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 11 0;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.avatar img{
    width: 50;
    height: 50;
}

.commentHeader{
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

.commentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.commentText{
    margin: 10px 20px 10px 0px ;
    color: #787676;
}


.ratingStar{
    display: flex;
    width: 16px;
    height: 16px;
    color: #FFD401;
    margin: 0px 6px;
}

.starOff{
    color: #adadad;
}
.starIcon{
    width: 16px;
    height: 16px;
}

@media (max-width: 400px){
    .avatar{
        display: none;
    }

    .commentContainer{
        margin: 10px;
    }

}

@media screen and (min-width: 600px){
    #clinicaImg{
        height: 30%;
    }
}